<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="WakeSpan" value="01:00:00"/>
    <add key="SmtpServer" value="shost.sea.corp.expecn.com"/>
    <add key="FromEmailAddress" value="eCIS - Systems Automation &lt;gisdev@expedia.com&gt;"/>
    <add key="ToEmailAddress" value="eCIS - Systems Automation &lt;jvarland@expedia.com&gt;"/>
    <add key="AppLogSource" value="StashNag"/>
    <add key="AppLogName" value="Stash Nag Log"/>
    <add key="NagTimeSpan" value="4.00:00:00"/> <!-- 4.00:00:00 == 4 days-->
    <add key="StashUrls" value="https://stash/projects/ESA/repos"/>
    <add key="HipChatToken" value="PFH3Fc82m79wZ8r3VQcF4lrC0Skio5pTuUmfiyVB"/>
    <add key="HipChatRoomName" value="eCIS - Systems Automation"/>
    <add key="HolidayURL" value="https://holidayapi.com/v1/holidays?country=US&amp;key=8b05f471-a4dc-4e33-8a34-415bf9da3032&amp;public=true"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
